{% extends "services/service_base.html" %}

{% block main_body %}
<!--Grid row-->
<div class="row wow fadeIn">
  <!--Grid column-->
  <div class="col-md-12 mb-4">
      <!--Card-->
      <div class="card">
          <!--Card content-->
          <div class="card-body">
          <!-- Table  -->
          <table class="table table-hover">
            <form class="d-flex justify-content-center">
              <!-- Default input -->
              <tr>
                <td>#</td>
                <td> <input type="search" placeholder="Type your query" aria-label="Search" class="form-control"> </td>
                <td> <input type="search" placeholder="Type your query" aria-label="Search" class="form-control"> </td>
                <td> <input type="search" placeholder="Type your query" aria-label="Search" class="form-control"> </td>
                <td> <input type="search" placeholder="Type your query" aria-label="Search" class="form-control"> </td>
                <td> 
                  <button class="btn btn-primary btn-sm my-0 p" type="submit" >View</button>
                </td>
              </tr>
            </form>
              <!-- Table head -->
              <thead class="blue lighten-4">
              <tr>
                  <th>#</th>
                  <th>Transaction Id</th>
                  <th>Seller</th>
                  <th>Buyer</th>
                  <th>Status</th>
                  <th></th>
              </tr>
              </thead>
              <!-- Table head -->

              <!-- Table body -->
              <tbody>
                  {% for order in order_details %}
                      <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ order.Transaction_Id }}</td>
                          <td>{{ order.Seller }}</td>
                          <td>{{ order.Buyer }}</td>
                          <td>{{ order.Status }}</td>
                          <td><button class="btn btn-primary btn-sm my-0 p" type="submit" data-toggle="modal" data-target="#basicExampleModal">View</button></td>
                      </tr>
                  {% endfor %}
              </tbody>
              <!-- Table body -->
          </table>
          <!-- Table  -->
          </div>
      </div>
      <!--/.Card-->
  </div>
  <!--Grid column-->
</div>
<!--Grid row-->


<!-- ################################################################### -->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">

            <!-- Table  -->
            <table class="table table-hover">
              <!-- Table head -->
              <thead class="blue-grey lighten-4">
                <tr>
                  <th>#</th>
                  <th>Lorem</th>
                  <th>Ipsum</th>
                  <th>Dolor</th>
                </tr>
              </thead>
              <!-- Table head -->

              <!-- Table body -->
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Cell 1</td>
                  <td>Cell 2</td>
                  <td>Cell 3</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Cell 4</td>
                  <td>Cell 5</td>
                  <td>Cell 6</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Cell 7</td>
                  <td>Cell 8</td>
                  <td>Cell 9</td>
                </tr>
              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table  -->

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">

            <!-- Table  -->
            <table class="table table-hover">
              <!-- Table head -->
              <thead class="blue lighten-4">
                <tr>
                  <th>#</th>
                  <th>Lorem</th>
                  <th>Ipsum</th>
                  <th>Dolor</th>
                </tr>
              </thead>
              <!-- Table head -->

              <!-- Table body -->
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Cell 1</td>
                  <td>Cell 2</td>
                  <td>Cell 3</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Cell 4</td>
                  <td>Cell 5</td>
                  <td>Cell 6</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Cell 7</td>
                  <td>Cell 8</td>
                  <td>Cell 9</td>
                </tr>
              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table  -->

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">

<!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">


  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
          <h3>Ship from</h3>
          <div class="container">
              <h4>Name</h4>
              Address <br>
              City <br>
              state <br>
              country - Postcode<br> 
              Mobile no
          </div>
      </div>
      <hr>
      <div>
          <h4>Name</h4>
          One of three columns<br>
                  One of three columns <br>
                  One of three columns
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
  </div>
</div>
</div>
                 
{% endblock  %}







