{% extends "portal/dashboard_layout.html" %}

{% block title%} Dashboard {% endblock title%}

{% block nav-title %} Farmer-Portal {%endblock nav-title%}

{% block top-nav-list-items %}
    <li class="nav-item active">
    <a class="nav-link waves-effect" href="#">Home
        <span class="sr-only">(current)</span>
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link waves-effect" href="#" target="_blank">Add Produce</a>
    </li>
    <li class="nav-item">
    <a class="nav-link waves-effect" href="#" target="_blank">Revenues</a>
    </li>
    <li class="nav-item">
    <a class="nav-link waves-effect" href="#" target="_blank">Feedback</a>
    </li>
{% endblock top-nav-list-items%}


{% block side-nav-list-items %}
    <a href="{% url 'service-dashboard' %}" class="list-group-item active waves-effect">
        <i class="fas fa-chart-pie mr-3"></i>Dashboard
    </a>
    <a href="{% url 'profile-check' %}" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-user mr-3"></i>Profile
    </a>
    <a href="{% url 'service-orders' %}" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-box-open mr-3"></i>Orders
    </a>
    <a href="{% url 'service-add_location' %}" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-map-marker-alt mr-3"></i>Add Location
    </a>
    <a href="#" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-users mr-3"></i>Region covered
    </a>
    <a href="#" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-box-open mr-3"></i>Deliverables
    </a>
    <a href="#" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-exclamation-circle mr-3"></i>Complaints
    </a>
    <a href="#" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-cogs mr-3"></i>Feedback
    </a>
    <a href="{% url 'service-statistics' %}" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-chart-bar mr-3"></i>Statistics
    </a>
{% endblock side-nav-list-items%}

{% block content %}

    {% block main_body %}
   
    {% endblock main_body %}
{% endblock content %}





