{% extends "portal/base.html" %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 p-2">
              <p style="background: green; padding: 2px; color: white">Tutorial Videos</p>
              <div style="border:1px solid #d6d3d3;float:left;padding:3px;">
                <div class="rahul_youtube" id="iframe1_v_1" data-id="1" data-v_id="iframe1_v_1" data-v_url="https://www.youtube.com/embed/nHlLq7uSCJY" style="background:url('https://img.youtube.com/vi/nHlLq7uSCJY/0.jpg') center no-repeat;cursor:pointer;height:125px;width:229px;background-size:cover;position:relative;">
                <br><h5>Farmer-Guide</h5>
                <img style="width:64px;" data-v_id="iframe_v_1" data-v_url="https://www.youtube.com/embed/nHlLq7uSCJY" data-pid="1" class="play-img" alt="play" src="https://enam.gov.in/web/assest/images/new-theme/icon/play-ico.png"></div>
                <div id="iframe_v_1" style="display:none;"></div>
              </div>
              <div style="border:1px solid #d6d3d3;float:left;padding:3px;">
                <div class="rahul_youtube" id="iframe1_v_1" data-id="1" data-v_id="iframe1_v_1" data-v_url="https://www.youtube.com/watch?v=qHIKRwYe3Cs" style="background:url('https://img.youtube.com/vi/nHlLq7uSCJY/0.jpg') center no-repeat;cursor:pointer;height:125px;width:229px;background-size:cover;position:relative;">
                <br><h5>Login Guide</h5>
                <img style="width:64px;" data-v_id="iframe_v_1" data-v_url="https://www.youtube.com/watch?v=qHIKRwYe3Cs" data-pid="1" class="play-img" alt="play" src="https://enam.gov.in/web/assest/images/new-theme/icon/play-ico.png"></div>
                <div id="iframe_v_1" style="display:none;"></div>
              </div>
            </div>
            <div class="col-md-6 p-2">
              <p style="background: green; padding: 2px; color: white">Farmer-Portal Overview</p>
              <p style="text-align: justify;">Farmer Portal is a pan-India electronic trading portal which networks Farmers across the nation
              and connects them with the buyers. The main objective of this portal is to create common interactive platform
              to connect farmers with the growing market using technology, thereby reducing exploitation of farmers, enabling them to directly interact with the buyers
              and providing them the independence to set their own crop prices with the goal of making farmers live with pride and make additional income! </p>
              The major features of Farmer-Portal are:
              <ul>
                <li>Interactive Platform</li>
                <li>Online Transaction Integrations</li>
                <li>Data Analytics</li>
                <li>Increased Employment</li>
                <li>Realtime Notifications</li>
              </ul>
            </div>
            <div class="col-md-3 p-2">
              <p style="background: green; padding: 2px; color: white">Our Coverage</p>
                <img src="../static/portal/MHCovered.jpg" alt="" width="100%">
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
