{% extends "buyer/dashboard_base_checkout.html" %}
{%block breadcrumb%}Feedback{% endblock breadcrumb%}
{%block content%}

<div class="card-body">
     <!--Card-->
     <div class="card col-sm-8" style="margin-left:15%">
        <!--Card content-->
        <form class="card-body">
        <!--address-->
          <div class="md-form mb-5">
            <input type="text" class="form-control" placeholder="Username">
            

            <!-- <label for="courier_services" >On role</label>
                <select class="custom-select d-block w-100" id="courirs" required>
                  <option value="1">Farmer</option>
                  <option value="2">Courier Services</option>
                  <option value="3">Faragri</option>
                </select> -->

                <textarea type="text" id="message" name="message" rows="2" placeholder="Your message" class="form-control md-textarea"></textarea>
                 
                        
          </div>
          <!--Grid row-->
   
          <button class="btn btn-primary btn-sm" style="margin-left:45%" type="submit">Submit</button>
        </form>
      </div>
      <!--/.Card-->
      
{% endblock %}