{% extends "buyer/dashboard_base_checkout.html" %}
{%block breadcrumb%}Order Confirmation{% endblock breadcrumb%}
{%block content%}

<div class="card-body">
     <div class="card col-sm-8" style="margin-left:15%">
        <div class="card-body">
          <div ><center><h1><i class="far fa-smile-beam" style="color: green"></i> </h1>
          <h3 style="color: green">Congratulations!</h3><hr></center></div>
          <p>Your <a href="#">order</a> has been confirmed and will be updated you with the status soon. </p>
          <p>To know more about your orders, please visit your Orders section on the dashborad.</p>
          <p><a href="#">Click here</a> to go back to view other posts.</p>
        </div>
      </div>
</div>
      <!--/.Card-->

{% endblock %}
