{% extends "farmers/dashboard_base.html" %}
{% load crispy_forms_tags %}
{%block breadcrumb%}Add Produce{% endblock breadcrumb%}
{%block content%}
<div class="container my-1 py-1">
  <section>
    <div class="row wow fadeIn">
      <div class="col-md-12 mb-12">
        <div class="card">
          <div class="card-body">
            <h5>Add Your Produce Details</h5>
            <form method="post">
              {% csrf_token %}
              <div class="md-form">
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Add Photos</label>
                  </div>
                </div>
              </div>
              <div class="md-form">
                <input type="text" id="name" class="form-control">
                <label for="inputLGEx">Product Name</label>
              </div>
              <div class="md-form">
                <input type="text" id="quality" class="form-control">
                <label for="inputLGEx">Grade/Quality</label>
              </div>
              <div class="md-form">
                <input type="number" id="price" class="form-control">
                <label for="numberExample">Price</label>
              </div>
              <div class="md-form">
                <input type="text" id="units" class="form-control">
                <label for="inputLGEx">Units</label>
              </div>
              <div class="md-form">
                <input type="text" id="remarks" class="form-control">
                <label for="inputLGEx">Remarks (if any)</label>
              </div>
              <button type="submit" class="btn btn-success btn-rounded" value="Submit">Add Produce</button>
            </form>
          </div>
        </div>
              <!-- Material input -->
      </div>
    </div>
  </section>
</div>


{%endblock content%}
