{% extends "admin_portal/without_search_layout.html" %}
{%block breadcrumb%}Farmer's{% endblock breadcrumb%}

{%block content%}

      <!--Grid row-->
      <div class="row wow fadeIn d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!--Card-->
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-4">
                      <button class="btn btn-primary btn-sm my-0 p" data-toggle="modal" data-target="#basicExampleModal">Add FPO</button>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            
                    <div class="col-sm-8">
                        <form class="d-flex justify-content-center">
                        <!-- Default input -->
                        <input type="search" placeholder="Search here" aria-label="Search" class="form-control">
                        <button class="btn btn-primary btn-sm my-0 p" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
            
                      </form>
                    </div>
                    <div class="col-sm-4">
                   
<!-- Basic dropdown -->
<select class="browser-default custom-select">
  <option selected>Sort according to</option>
  <option value="1">date</option>
  <option value="2">location</option>
  <option value="3">name</option>
</select>
  
                    </div>
                </div>
            </div>
        </div>
            <!--Card content-->
            <div class="card-body">

              <!-- Table  -->
              <table class="table table-hover">
                <!-- Table head -->
                <thead class="blue lighten-4">
                  <tr>
                    <th>sr.no</th>
                    <th>Farmer's Name</th>
                    <th>Location</th>
                    <th>Date of Registration</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <!-- Table head -->

                <!-- Table body -->
                <tbody>
                    {% for post in farmers_details %}
                  <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td>{{ post.name }}</td>
                    <td>{{ post.location }}</td>
                    <td>{{ post.date_registered }}</td>  
                    <td>
                    <a href="#"><i class="fas fa-edit mr-3 "></i></a>
                    <a href="#"><i class="fas fa-eye mr-3 "></i></a>
                    <a href="#"><i class="fas fa-trash mr-3 "></i></td></a>
                  </tr>
                  {% endfor %}
                </tbody>
                <!-- Table body -->
              </table>
              <!-- Table  -->

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
<br>
      
<div class="col-lg-12 col-md-6 mb-4 ">
    <!--Card-->
    <div class="card  justify-content-center">
  
      <!-- Card header -->
      <h3 class="card-header">Usage of FarAgri by Farmers</h3>
  
      <!--Card content-->
      <div class="card-body">
  
        <canvas id="barChart"></canvas>
  
      </div>
  
    </div>
    <!--/.Card-->
  
  </div>
  

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">

<!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">


  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="modal-body" style="padding:20px">
        <form method="POST">
          {% csrf_token %}
          <select class="browser-default custom-select">
            <option selected>Role</option>
            <option value="1">Farmer</option>
            <option value="2">Buyer</option>
            <option value="3">Service Provider</option>
          </select>
          <div class="md-form">
            <input type="text" id="name" class="form-control">
            <label for="name">Full Name</label>
          </div>
          <div class="md-form">
            <input type="text" id="address" class="form-control">
            <label for="address">Address</label>
          </div>
          <select class="browser-default custom-select">
            <option selected>Select District</option>
            <option value="1">Nanded</option>
            <option value="2">Aurangabad</option>
            <option value="3">Pune</option>
            <option value="3">Beed</option>
          </select>
          <div class="md-form">
            <input type="text" id="mob" class="form-control">
            <label for="mob">Mobile Number</label>
          </div>
          <div class="md-form">
            <input type="text" id="pin" class="form-control">
            <label for="pin">PinCode</label>
          </div>
          <div class="md-form">
            <input type="text" id="Username" class="form-control">
            <label for="Username">Username</label>
          </div>
          <div class="md-form">
            <input type="password" id="password" class="form-control">
            <label for="password">Enter Password</label>
          </div>
          <div class="md-form">
          <input type="password" id="cpassword" class="form-control">
          <label for="cpassword">Confirm Password</label>
        </div>
          <button class="btn btn-primary" type="submit" aria-haspopup="true" aria-expanded="false">Add</button>
        </form>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
  </div>
</div>
</div>
                 

  <script>
      
var ctxB = document.getElementById("barChart").getContext('2d');
var myBarChart = new Chart(ctxB, {
type: 'bar',
data: {
labels: ["Nanded", "Aurangabad", "Beed", "Latur", "Parbhani", "Hingoli"],
datasets: [{
label: 'no. of farmers',
data: [1200, 790, 300, 5000, 200, 930],
backgroundColor: [
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)'
],
borderColor: [
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)'
],
borderWidth: 1
}]
},
options: {
scales: {
yAxes: [{
ticks: {
beginAtZero: true
}
}]
}
}
});
  </script>  
{%endblock content%}
