{% extends "admin_portal/without_search_layout.html" %}
{%block breadcrumb%}Revenue{% endblock breadcrumb%}
{%block content%}
<div class="container">
  <h3>District wise Produce</h3>
 <div class="row">

      <div class="card mb-4 col-md-6">

        <!-- Card header -->
        <div class="card-header text-center">
          Aurangabad
        </div>

        <!--Card content-->
        <div class="card-body">

          <canvas id="pieChart1" style="max-width: 500px;"></canvas>


        </div>

      </div>
      <!--/.Card-->

      <div class="card mb-4 col-md-6">

        <!-- Card header -->
        <div class="card-header text-center">
          Nanded
        </div>

        <!--Card content-->
        <div class="card-body">

          <canvas id="pieChart" style="max-width: 500px;"></canvas>


        </div>

      </div>
  </div>
  <h3>High Produce Area </h3>
  <div class="row">
 
          <div class="card mb-4 col-md-6">
    
            <!-- Card header -->
            <div class="card-header text-center">
              Wheat
            </div>
    
            <!--Card content-->
            <div class="card-body">
    
              <canvas id="barChart1" style="max-width: 500px;"></canvas>
    
    
            </div>
    
          </div>
          <!--/.Card-->
    
          <div class="card mb-4 col-md-6">
    
            <!-- Card header -->
            <div class="card-header text-center">
              Jowar
            </div>
    
            <!--Card content-->
            <div class="card-body">
    
              <canvas id="barChart" style="max-width: 500px;"></canvas>
    
    
            </div>
    
          </div>
      </div>
    
      
</div>


  <script>
    var ctxP = document.getElementById("pieChart").getContext('2d');
    var myPieChart = new Chart(ctxP, {
      type: 'pie',
      data: {
        labels: ["Wheat", "Jowar", "Moong", "Bajra", "Rice"],
        datasets: [{
          data: [100, 70, 120, 90, 100],
          backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
          hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
        }]
      },
      options: {
        responsive: true,
        legend: false
      }
    });


    var ctxP = document.getElementById("pieChart1").getContext('2d');
    var myPieChart = new Chart(ctxP, {
      type: 'pie',
      data: {
        labels: ["Wheat", "Jowar", "Moong", "Bajra", "Rice"],
        datasets: [{
          data: [100, 50, 120, 80, 120],
          backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
          hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
        }]
      },
      options: {
        responsive: true,
        legend: false
      }
    });

         
var ctxB = document.getElementById("barChart").getContext('2d');
var myBarChart = new Chart(ctxB, {
type: 'bar',
data: {
labels: ["Nanded", "Aurangabad", "Beed", "Latur", "Parbhani", "Hingoli"],
datasets: [{
label: 'Quintals',
data: [1200, 690, 3000, 3500, 1200, 1930],
backgroundColor: [
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)'
],
borderColor: [
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)'
],
borderWidth: 1
}]
},
options: {
scales: {
yAxes: [{
ticks: {
beginAtZero: true
}
}]
}
}
});

     
var ctxB = document.getElementById("barChart1").getContext('2d');
var myBarChart = new Chart(ctxB, {
type: 'bar',
data: {
labels: ["Nanded", "Aurangabad", "Beed", "Latur", "Parbhani", "Hingoli"],
datasets: [{
label: 'Quintals',
data: [1200, 790, 300, 5000, 200, 930],
backgroundColor: [
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)',
'rgba(255, 99, 132, 0.2)'
],
borderColor: [
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)',
'rgba(255,99,132,1)'
],
borderWidth: 1
}]
},
options: {
scales: {
yAxes: [{
ticks: {
beginAtZero: true
}
}]
}
}
});

  </script>
{% endblock %}